* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #1b262c;
}
nav {
  height: 10vh;
  margin: 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  a {
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

main {
  margin: 0 3rem;
  #search-bar {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      display: inline-block;
      height: 5vh;
      width: 25vw;
      outline: none;
      padding: 0.3rem;
      letter-spacing: 1px;
      border: 2px solid black;
      font-size: 1.2rem;
      border-right: none;
      border-radius: 4px 0 0 4px;
      transition: all 0.4s ease-in-out;
      &:focus {
        border: 2px solid #74cac5;
        border-right: none;
      }
    }
    #search {
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      background-color: black;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      img {
        padding: 0 0.5rem;
      }
    }
  }
}

#img-main-container {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}

.img-container {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: 3px 3px 13px -3px rgba(0, 0, 0, 0.75);
  }
}

.image {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

// more images button

.more-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  .more-images-button {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 0.5rem;
    background-color: #1b7fef;
    border: solid #337fed 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    display: none;
    &:hover {
      background: #1e62d0;
      border: solid #1d6fe5 0px;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  main #search-bar input {
    width: 100%;
  }
  main #img-main-container {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  main #search-bar input {
    width: 75%;
  }
  #img-main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media only screen and (min-width: 1660px) {
  main #search-bar input {
    width: 75%;
  }
  #img-main-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
